---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={sthirkal's void}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
    I'm Sadhana Thirumangai (She/Her). An electronics and communication sophomore based out of Kerala, India. I like math and writing.
    </p>
    <p>
    Check out my writing and my work.
    </p>
  </main>
</Layout>
